@page
@model GardenVariety.Pages.Gardens.DetailsModel
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GardenVariety.styles.css" asp-append-version="true" />
</head>
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Garden</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garden.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garden.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garden.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garden.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garden.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garden.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garden.PlantingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garden.PlantingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garden.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garden.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Garden.GardenId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
